
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100; 1.200;1.300;1.400;1.500;1.600;1.700;1.800;1.900&family=Fjalla+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
}
footer {
    background-color: rgb(0, 0, 0);
    color: white;
}
a{
    color: blue;
}

strong{
    color: rgb(255, 255, 255);
}
p{
    color:rgb(255, 255, 255)
}
span{
    color: blue;
    border: 1px solid #fd2222;
    padding: 8px;
}
.apresentacao{
    margin: 0% 3%;
    justify-content: space-evenly;
    display: flex ;
    align-items: center;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.apresentacao__titulo{
    font-size: 36px;
    font-family: "Fjalla One", sans-serif;
}
.apresentacao__texto{
    font-size: 25px;
    font-family: "Fira Sans", sans-serif;
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
}
.apresentacao__links__link{
    background-color: blue;
    width: 105px;
    text-align: center;
    border-radius: 16px;
    font-size: 22px;
    padding: 21.5px 21.5px;
    text-decoration: none;
    color: black;
    font-family: "Fira Sans", sans-serif;;
}
.apresentacao__foto{
    margin:5% 0%;
}